.asia { background: #d71920; margin-top:10px; padding:15px; border-radius:10px; cursor:pointer; }
.korek { background: #00a1e4; margin-top:10px; padding:15px; border-radius:10px; cursor:pointer; }
.zain { background: #632d8d; margin-top:10px; padding:15px; border-radius:10px; cursor:pointer; }
.zicharge { background: #28a745; margin-top:10px; padding:15px; border-radius:10px; cursor:pointer; }
.pay-form { display: none; padding: 20px; background: #111; border-radius: 10px; }
